#board li{
    float:left;
    margin:10px;
    height:80px;
    width:80px;
    font-size:60px;
    background:#333;
    color:#ccc;
    list-style:none;
    text-align:center;
    border-radius:5px;
}

#container {
    width: 350px;
}

body {
  background: url(http://i.imgur.com/CwMw6BU.jpg);
    background-size: cover;
    background-position: center;

  }
